
page-place-description {
    @import "app/header.css";
    .hero img {
        clip-path: polygon(0 0, 100% 0, 100% 88%, 0 100%);
      }
      .promo {
        clip-path: polygon(0 0, 1600px 0, 1600px 87%, 0 100%);
      }
      
      // demo code below
      .hero {
            width: 100%;
            color: #fff;
            font-family: 'Fira Sans', sans-serif;
            position: absolute;
            text-align: center;
            text-shadow: 0px 0px 1px rgba(0,0,0,0.5);
            height: 50%;
            
        img {
            animation-name: dim;
            animation-duration: 5s;
            //animation-delay: -5s;
            position: absolute;
            left: 0;
            width: 100%;
            filter: brightness(0.4);
            height: 100%;
        }

        figcaption h1{
            margin: 0 !important;
        }
        
        figcaption {
            margin: auto;
            position: relative;
            width: 65%;
            top: 230px;
            right: 30px;
        }
        figure{
            margin: 0 !important;
        }

        hr{
            margin-left: 0px;
            left: 0;
            width: 30%;
            height: 3px;
            background-image: linear-gradient(to right, #FAD961 , #F76B1C);
        }
        
        h1 {
            text-align: left;
            font-size: 32px;
        }
        
       
        
        p {
            text-align: left;
            font-size: 14px;
            font-weight: 300;
        }
        .scroll-content{
            margin-top: 37px !important;
        }
      }
      #favourites{
        position: absolute;
        background-image: linear-gradient(to right, #FF7979 , #C9286B);
        background-color: white;
        font-size: 40px;
        border-radius: 50%;
        z-index: 999;
        right: 10%;
        bottom: 2%;
      }
      #favourites .icon{
        padding: 10px;
        color: white;
        padding-top: 16px;
      }
      #description-container{
        margin: 10px;
        position: relative;
        height: 35%;
        top: 60%;
    }
    #description-header{
        
        position: absolute;
        right: 0;
        top: 0;
        text-align: right;
    }
    #description-header p{
        margin: 0;
    }
    #description-text{
        position: absolute;
        top: 50px;
        left: 0;
        text-align: left;
    }

    #description-map-container{
        margin: 10px;
        position: relative;
        height: 35%;
        top: 60%;
    }
    #map{
        position: absolute;
    }
    .button-ios{
        z-index: 99999;
    }
    [icon-only] ion-icon {
        font-size: 4em;
    }
    .button-ios {
        height: 5em;
        background-color: rgba(0,0,0,0);
    }
    .button-ios:focus {
        outline: none;
      }
      .button-ios.activated{
          background-color: rgba($color: #000000, $alpha: 0)
      }
      #button{
          position: absolute;
          z-index: 9999;
          background: none;
          color: white;
          top: 5%;
          left: 0%;
          font-size: 15px;
      }
      

      @keyframes dim {
        0%   {
            filter: brightness(1);
            -webkit-filter: brightness(1);
        }
        100% {
            filter: brightness(0.4);
            -webkit-filter: brightness(0.4);
        }
    }

}
