<!--
  Generated template for the PlaceDescriptionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

    

<ion-content>
    <button id="button" (click)="back()" icon-only>
        <ion-icon name="ios-arrow-round-back"  ></ion-icon>
      </button>
    <div class="hero">
        
        <img src={{this.img}} alt="" />
        <figure>
          <figcaption>
            <h1>{{this.name}}</h1>
            <hr>
            <p>Attraction in Oslo</p>
          </figcaption>
        </figure>
        <button id="favourites" (click)="this.foundUser ? removeFromDatabase() :  addToDatabase()" [disabled]="!this.user">
         <ion-icon *ngIf="this.foundUser" name="checkmark-circle"></ion-icon> 
         <ion-icon *ngIf="!this.foundUser" name="ios-heart-outline"></ion-icon>
        </button>
      </div>

      
          <div id="description-container">
              
              <div id="description-header">
                <p>Dronning Eufemies Gate</p>
                <span>0190, Oslo</span>
              </div>
              
              <div id="description-text">
                <p>Lorem ipsum dolor sit amet, 
                  consectetur adipiscing elit, 
                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                  Ut enim ad minim veniam, 
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                  Duis aute irure dolor in reprehenderit 
                  in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                  Excepteur sint occaecat cupidatat non proident, 
                  sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
            </div>
            <div id="description-map-container">
                <div id='map' style='z-index: 999; width: 100%; height: 100%;'></div>
            </div>
</ion-content>

