.navbar {
  display: flex;
  flex-direction: row;
}

.svg {
  width: 50%;
  margin-top: 3%;
}

.svg-1 {
  display: flex;
  justify-content: center;
  align-self: center;
}

.svg-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
