page-signin {
    .item-ios {
        border: 1px solid grey !important;
        margin: 10px auto;
        padding-left: 0 !important;
        border-radius: 7px;
        width: 80%;
        
    }
    .item-inner{
        border: none !important;
        padding: 0 !important;
    }
    .item-input ion-label{
        display: none;
    }
    form{
        margin-top: 60px;
    }
    #button-container{
        margin-top: 10px;
    }
    .button-round-ios{
        padding: 1.7em;
    }
    .button-outline-ios-secondary{
        width: 100%;
    }
    #sign-up-button{
        background-color: rgba($color: #000000, $alpha: 0) !important;
        color:#488aff;
        border: 2px solid #488aff;
        border-radius: 64px;
        padding: 0 2.6rem;
        margin: 20px 0;
    }
    img{
        margin-top: 40px;
    }
}
