page-reset-password {

}

#email-input{
    border: 1px solid lightgray !important;
    margin: 150px auto;
    padding-left: 0 !important;
    border-radius: 7px;
    width: 80%;
    padding: 0 20px;
}

.text-input-ios{
    border: none !important;
     padding: 5px !important;
  }
  #main{
      margin: auto;
      width: 90%;
    background-image: linear-gradient(to right,#FAD961,#F76B1C );
  }


