page-places {
  .card-background-page{
    ion-card{
      position: relative;
      text-align: center;
    }
    .card-title{
      position: absolute;
      bottom: 5%;
      left: 5%;
      font-size: 1.6em;
      font-weight: bold;
      color: white;
    }
  }
 
  .card-category {
    display: none;
  }
 
  .card-background-page ion-card {
    position: relative;
    text-align: center;
    width: 80%;
    margin: 20px auto;
    height: 20%;
    border-radius: 10px;
  }
 
  .searchbar-ios {
    background-color: white !important;
    border-bottom: none !important;
    margin-top: 27px !important;
  }
 
  .searchbar-ios .searchbar-input-container {
    border-bottom: 1px solid grey !important;
  }
 
  .searchbar-md {
    margin-top: 38px !important;
  }
 
  .searchbar .searchbar-input-container {
    width: 70% !important;
    position: absolute;
    left: 35px;
  }
  .popover-ios .popover-content{
    top: 0 !important;
  }
 
  .search-container {
    display: flex;
    flex-direction: row;
  }
 
  .card-background-page ion-card img {
    height: 100%;
  }
 
  #places-to-visit{
    margin: auto;
    width: 80%;
    margin-top: 20px;
    font-size: 18px;
  }
  .searchbar-input-container{
    margin-top: 50px;
    width: 80%;
    margin: auto;
  }
  .searchbar {
    margin: 10px 0;
  }
  #oslo-attractions{
    text-align: center;
 
    margin-top: 40px;
  }
 
  #filter {
    height: 40px;
    position: absolute;
    right: 20px;
    top: 125px;
  }
 }

#logo {
  margin-top: 30px;
  height: 65px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.bottom {
  z-index: 999999999999999999;
  position: absolute;
  overflow: hidden;
  background-color: white;
  height: 8%;
  width: 100%;
  bottom: 0;
  border-top: 1px solid grey;
}
#tab-t0-0{
  display: none!important ;
}

